{% extends 'base.html' %}

{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Edit Student</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="POST" action="{% url 'edit_student' student.id %}" class="align-items-center">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <p>
                            <button type="submit" class="btn teal-bg">Update Student</button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}