{% extends 'base.html' %}

{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <a class="btn teal-bg link-light mt-2 mb-2" href="{% url 'new_referral' %}" role="button">New Referral</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-hover mt-2">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Update Status</th>
                                <th>Quick Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for referral in referrals %}
                                <tr>
                                    <td><a class="link-dark" href="{% url 'referral_details' referral.id %}">{{ referral }}</a></td>
                                    <td>{{ referral.phone }}</td>
                                    <td>{{ referral.email }}</td>
                                    <td>
                                        <a href="{% url 'add_student' referral.id %}" class="btn btn-sm teal-bg">
                                            Enrol
                                        </a>
                                        <a href="#" class="btn btn-sm teal-bg">Not Interested</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'edit_referral' referral.id %}" class="btn btn-sm teal-bg">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        {% if user.is_staff %}
                                            <button type="button" class="btn btn-danger btn-sm" data-mdb-toggle="modal" data-mdb-target="#deleteModal-{{ referral.id }}">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        {% endif %}
                                        <!-- Modal -->
                                        <div class="modal" id="deleteModal-{{ referral.id }}" tabindex="-1" aria-labelledby="deleteConfirmModal" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteConfirmModal">Delete Confirmation</h5>
                                                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Are you sure you want to delete {{ referral }}</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn teal-bg" data-mdb-dismiss="modal">Close</button>
                                                        <a href="{% url 'delete_referral' referral.id %}" class="btn btn-danger">
                                                            Delete Student
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}