{% extends 'base.html' %}

{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Add a new Course</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="POST" action="{% url 'add_course' %}" class="align-items-center">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <p>
                            <button type="submit" class="btn teal-bg">Add Course</button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}