{% extends 'base.html' %}

{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <a class="btn teal-bg link-light mt-2 mb-2" href="{% url 'add_course' %}" role="button">Add Course</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-hover mt-2">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Quick Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                            <tr>
                                <td><a class="link-dark" href="{% url 'course_details' course.id %}">{{ course.name }}</a></td>
                                <td>
                                    <a href="{% url 'edit_course' course.id %}" class="btn btn-sm teal-bg">Edit</a>
                                    {% if user.is_staff %}
                                        <a href="{% url 'delete_course' course.id %}" class="btn btn-sm btn-danger">Delete</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}