{% extends 'base.html' %}

{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <a class="btn teal-bg link-light" href="{% url 'add_course' %}" role="button">Add Course</a>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Course</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td><a href="#">{{ course.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}