{% extends 'base.html' %}

{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <a class="btn teal-bg link-light" href="#" role="button">Add School</a>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>School</th>
                    <th>Contact</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for school in schools %}
                <tr>
                    <td><a href="#">{{ school.name }}</a></td>
                    <td>{{ school.contact }}</td>
                    <td>{{ school.phone }}</td>
                    <td>{{ school.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}